

<!-- =========================
    HOME VIEW
============================== -->
<section class="wrapper home" id="search">
	<div class="container">

		<div class="row">
		    <div class="highlight wow fadeInLeft col-md-offset-1 col-md-3 col-sm-8" data-wow-delay="1s">
				<ul class="home-icon">
				    <li><a routerLink="/customers" class="fa fa-search fa-2x fadeInUp" data-wow-delay="1s"></a></li>
			    </ul>
				<span class="external-link"><h3>Look Up Customers</h3><a class="link" routerLink="/customers" routerLinkActive="active"><sup class="fa fa-external-link"></sup></a></span>
				<p>You can search specific customer information. Look Up Customer Debt Information by National ID or Mobile Number. </p>
				<p> Have enough permission? <a class="link" routerLink="/downloads" routerLinkActive="active">Download customer data <sup class="fa fa-external-link"></sup></a>.</p>
			</div>

		    <div class="highlight wow fadeInUp col-md-offset-1 col-md-3 col-sm-8" data-wow-delay="1.5s" >
				<ul class="home-icon">
				    <li><a routerLink="/customers" class="fa fa-search fa-2x fadeInUp" data-wow-delay="1s"></a></li>
			    </ul>

    			<form action="#" method="post">
    			    {{ csrf_input }}
                    <div *ngIf="search_error" class="form-errors"> There are errors </div>
					<label for="form.username" class="float-left">Customer Username:</label>
					<input name="username" [(ngModel)]="form.username" type="text" class="form-control" id="username" placeholder="Username">
					<div class="search-radio">
                      <label class="radio inline float-left"  (click)="toogleSearch(form);">
                          <input type="radio" name="search_key" [(ngModel)]="form.search_key" value="ID" checked>
                          <span> National ID </span>
                       </label>
                      <label class="radio inline float-right"  (click)="toogleSearch(form);">
                          <input type="radio" name="search_key" [(ngModel)]="form.search_key"  value="phone">
                          <span> Phone Number </span>
                      </label>
                    </div>
					<input *ngIf="search_ID" name="ID" [(ngModel)]="form.ID" type="number" class="form-control" id="ID" placeholder="Customer National ID">
					<input *ngIf="!search_ID" name="phone" [(ngModel)]="form.phone" type="number" class="form-control" id="ID" placeholder="Customer Phone ">
    				<div class="col-md-offset-3 col-md-9 col-sm-offset-1 col-sm-10 float-right">
    					<button class="col-sm-12" (click)="search(form);"> SEARCH <i [ngClass]="{'fa-spinner fa-spin': submitting, 'fa-long-arrow-right': !submitting}" class="fa" ></i></button>
    				</div>
    			</form>
			</div>

		    <div class="highlight wow fadeInRight col-md-offset-1 col-md-3 col-sm-8" data-wow-delay="1s">
				<ul class="home-icon">
				    <li><a routerLink="/customers" class="fa fa-download fa-2x fadeInUp" data-wow-delay="1s"></a></li>
			    </ul>
				<span class="external-link"><h3>DownLoad Debtors</h3><a class="link" routerLink="/customers" routerLinkActive="active"><sup class="fa fa-external-link"></sup></a></span>
				<p>The app provides a tabular view, search, and download of all data showing the current debt status of the various customers.  </p>
				<p> Already have an account? <a class="link" routerLink="/login" routerLinkActive="active">Login <sup class="fa fa-external-link"></sup></a>.</p>
			</div>

		</div>
	</div>
</section>